
.closeModal {
    position: relative;
    display: flex;

}
.modalB {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}
.modalButton {
    background-image: linear-gradient(
            -225deg,
            #60abed 0%,
            #568bda 48%,
            #4d64e6 100%);

    border: none;
    margin: 0;
    padding: 5px 15px;
    border-radius: 0 0.35em 0.35em 0;
    cursor: pointer;
    color:white;

}

.modal {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


